@mixin background($image, $repeat,$attachment,$size){
    background-image: $image;
    background-repeat: $repeat;
    background-attachment: $attachment;
    background-size: $size;
}
@mixin logo($width,$height) {
    width: $width;
    height: $height;
}  
    // Import Bootstrap
    @import '../node_modules/bootstrap/scss/bootstrap';

    .containerbg {
        @include background(url(../images/home/background.jpg), no-repeat, fixed, cover);
        height: 100%;
        background-position: center;
    }

    .logoPc {
        @include logo(50px, 50px);
    }

    .header{
        border-bottom: 2px solid rgba(245, 228,1,0.6);
    }

    .titlePadding {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .categoryVideo iframe {
        @include logo(280px, 180px);
        border-radius: 15px;
    }
    .sidebar {
        width: 300px;
        border-bottom: 2px solid rgba(245, 228,1,0.6);
    }
    .Button{
        @include logo(80px, 40px);
        background: black;
        color:  white;
        letter-spacing: 1.5px;
        cursor: pointer;
        position: relative;
        outline: none;
        border: none;

        &:before{
            content: "";
            position: absolute;
            border: 2px solid transparent;
            width: 0%;
            height: 0%;
            top: 0;
            left: 0;
        }

        &:after{
            content: "";
            position: absolute;
            background-color: transparent;
            border: 1px solid transparent;
            width: 0%;
            height: 0%;
            bottom: 0;
            right: 0;
        }
        &:hover:before{
            width: 100%;
            height: 100%;
            border: 2px solid yellow;
            box-sizing: border-box;
            border-top: none;
            border-right: none;
            transition: height .2s linear, width .3s linear .3s;
        }
        &:hover:after{
            width: 100%;
            height: 100%;
            border: 2px solid yellow;
            box-sizing: border-box;
            border-left: none;
            border-bottom: none;
            transition: height .3s linear .5s, width .3s linear .8s;
        }
    }

    .loginContent{
        height: 63vh;
    }

    .sidebarCardImg {
        @include logo(250px, 250px);
    }

    .designedBy{
        @include logo(60px, 60px);
    }

    @media(max-width: 1148px) {
        .videoContent {
            margin: 45px;
        }
        .sidebar {
            display: none;
        }
    }
    
    @media(max-width: 1083px) {
        .videoContent {
            margin: 40px;
        }
        .sidebar {
            display: none;
        }
    }
    @media(max-width: 992px) {
        .containerbg {
            background-image: url(../images/home/backgroundMobile_edited.jpg);
        }
        .videoContent {
            margin: 0px;
            padding: 0px;
        }
        .sidebar {
            display: block;
        }
    }